.AboutUsContainer {
    height: auto;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat';
    align-items: center;
    text-align: center;
}

.aboutusheading {
    margin: 20px;
    font-size: 3rem;
    font-weight: 700;
}

.aboutusp {
    font-size: 1.8rem;
    margin: 10px;
    text-align: start;
    padding: 40px;
    padding-left: 80px;
}

.inneraboutusheading{
    font-size: 2.2rem;
}

@media (max-width: 767.98px) {

.aboutusp {
    margin: 10px;
    text-align: start;
    padding: 20px;
    font-size: 1.3rem;
}

.inneraboutusheading {
    align-self: start;
    margin: 40px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 1.8rem;
    font-weight: 700;
}

}

