::-webkit-scrollbar {
  width: 8px; /* Width for vertical scrollbars, height for horizontal scrollbars */
}

.body {
  overflow-x: hidden;
}

/* Style the scrollbar track */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Light gray background */
  border-radius: 2px; /* Optional: round the edges */
}

/* Style the scrollbar handle (the draggable part) */
::-webkit-scrollbar-thumb {
  background: #888; /* Gray color for the thumb */
  border-radius: 2px; /* Optional: round the edges */
}

/* Add hover effect to the scrollbar thumb */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}