.InternetPackage{
  height: auto;
  background-color: rgba(221, 213, 213, 0.2);
  display: flex;
  margin: 20px;
  flex-direction: column;
  align-items: center;
  font-family: 'Montserrat';
  text-align: center;
}

.ServicesHeading {
  margin: 40px;
  font-weight: 700;
  font-size: 3.8rem;
}

.PremiumServices {
  background-color: white;
  align-items: center;
  display: flex;
  width: 100%;
  flex-direction: column;
}

.service {
  margin: 20px;
  padding: 60px;
  height: 50vh;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, .2);
}

.service h2 {
  font-size: 1.4rem;
}

.GeneralHeading {
  margin: 20px;
  
}

.needleinitial {
  height: 10vh
}

.servicerow {
  display: flex;
}

.generalserviceheading {
  margin-top: 40px;
  font-size: 2.6rem;
  font-weight: 700;
}

.signupservice {
  background-color: #eee9ff;
  padding: 8px;
  font-size: 1.4rem;
  color: black;
  border-radius: 10px;
}

.signupservice:hover {
  background-color: rgba(147, 255, 255, 0.3);
}

@media (max-width: 767.98px) {

  .InternetPackage{
    margin: 0px;
    height: auto;
  }

  .servicerow {
    display: flex;
    flex-direction: column;
  }

  .service{
    margin: 20px;
    height: 58vh;
  }

  .ServicesHeading {
    font-size: 2.4rem;
  }

  .generalserviceheading {
    margin-top: 40px;
  }


}

